<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2097152" maxQueryStringLength="2097151"/>

    <customErrors defaultRedirect="error404.aspx" mode="Off">
      <!-- BAD REQUEST: The server cannot or will not process the request due to an apparent client error (e.g., malformed request syntax, invalid request message framing, or deceptive request routing).  -->
      <error redirect="error400.aspx" statusCode="400" />
      <!-- Unauthorized: specifically for use when authentication is required and has failed or has not yet been provided.  -->
      <error redirect="error401.aspx" statusCode="401" />
      <!-- Forbidden: specifically for use when authentication is required and has failed or has not yet been provided.  -->
      <error redirect="error403.aspx" statusCode="403" />
      <!-- Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.  -->
      <error redirect="error404.aspx" statusCode="404" />
      <!-- Request Timeout: The server timed out waiting for the request. According to HTTP specifications: "The client did not produce a request within the time that the server was prepared to wait. The client MAY repeat the request without modifications at any later time." -->
      <error redirect="error408.aspx" statusCode="408" />
      <error redirect="error500.aspx" statusCode="500" />
    </customErrors>
    <sessionState mode="InProc" cookieless="false" timeout="525600" ></sessionState>


    <!--<httpModules>
      <add name="URLRewriter" type="URLRewriter"/>
    </httpModules>-->

  </system.web>

  <system.webServer>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404"/>
      <remove statusCode="500"/>
      <error statusCode="404" responseMode="Redirect" path="error404.aspx"/>
      <error statusCode="500" responseMode="Redirect" path="error500.aspx"/>
    </httpErrors>-->
    
    
  </system.webServer>

  <appSettings>
    <add  key="title" value="e-Store"/>
    <add  key="heading" value="e-Store"/>
    <add  key="miniheading" value="eS"/>
    <add  key="footer" value="Nitish Srivastava"/>
    <add  key="version" value="1.0"/>

    <!-- Code for add connection string value in appconfig-->
   <add  key="DataSource" value="."/>
    <add  key="InitialCatalog" value="db_inventory"/>
    <add  key="UserID" value="sa"/>
    <add  key="Password" value="P@ssw0rd"/>
    
  <!-- Code for add connection string value in appconfig in server-->
  <!--  <add  key="DataSource" value=""/>
    <add  key="InitialCatalog" value="db_inventory"/>
    <add  key="UserID" value="inventory"/>
    <add  key="Password" value="12345"/> -->

  </appSettings>
</configuration>

